.idea/
.vagrant/
.sconsign.dblite
.svn/

.DS_Store
*.swp
profile

DerivedData/
build/
build-appstore/

keyedobjects-*.nib

*.pbxuser
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata
xcshareddata

*.moved-aside

*.pyc
*sync/
Icon?
.tags*
