<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>CFBundleSignature</key>
	<string>Cupa</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>Cuppa</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>36</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8.9</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2005-2025 Nathan Cosgray.</string>
	<key>CFBundleExecutable</key>
	<string>Cuppa</string>
	<key>CFBundleGetInfoString</key>
	<string>1.8.9</string>
	<key>CFBundleHelpBookFolder</key>
	<string>help</string>
	<key>CFBundleHelpBookName</key>
	<string>Cuppa Help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUEnableAutomaticChecks</key>
	<string>YES</string>
	<key>SUEnableSystemProfiling</key>
	<string>YES</string>
	<key>SUFeedURL</key>
	<string>https://www.nathanatos.com/software/cuppa.xml</string>
	<key>SUPublicEDKey</key>
	<string>U9aJQR7OPPvP+6vQ5j/InYqRfvrdXj2ILj6+Pb8anvY=</string>
</dict>
</plist>
